@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Traversal speed slider - grey track, white thumb */
input[type='range'].speed-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  background: #4b5563;
  border-radius: 3px;
  outline: none;
}

input[type='range'].speed-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

input[type='range'].speed-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  border: none;
}
